* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 20% auto;
}

aside {
  background-color: #0ea5e9;
  color: #fff;
  height: 100vh;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
}

.dashboard {
  margin: 10px 0 20px 20px;
}

.dashboard-icon {
  margin-right: 10px;
  font-size: 40px;
}

.icon {
  margin: 0 10px 10px 0;
  font-size: 30px;
}

/*-------------------------- end top dashboard---------------------- */
