* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 20% auto;
}

aside {
  background-color: #0ea5e9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-right: 20px;
}
